.a-divider{
    padding-left: 0.5rem;
}

.intro{
    display: flex;
    height:77vh;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 2.5rem;
}

.i-left{
    display: flex;
    position: relative;
    flex:1;

}

.i-right{
    display: flex;
    flex:1;
}

.i-right>img{
    display: flex;
    flex:1;
}

.i-name{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.i-name>:nth-child(1){
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}
.i-name>:nth-child(2){
    color:var(--orange);
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(3){
    font-weight: 100;
    font-size: 18px;
    color: var(--grey);
}

.i-button{
  width: 6rem;
  height: 2rem; 
}

.i-icons{
display: flex;
gap: 0rem;
}

.i-icons>*{
    transform: scale(0.3);
    cursor:pointer;
}

.i-right{
    display: flex;
    position:relative;
    margin-left: 1rem;
}

.f-div1{
    display: flex;
    height: 20vh;
    align-self: center;
}

.i-right>:nth-child(1)>FloatingDiv{
    position:relative;
    top: -4% !important;
    left: 68% !important;
}

.i-right>:nth-child(3)>img{
    position:relative;
    top: 18rem !important;
    left: 0rem !important;
}
